
<div>
    <h1>Bienvenido {{user._doc.first_name}}</h1>
<div>
    <ul>
        <li>Nombre: {{user._doc.first_name}}</li>
        <li>Apellido: {{user._doc.last_name}}</li>
        <li>Email: {{user._doc.email}}</li>
        <li>Edad: {{user._doc.age}}</li>
        <li>Rol: {{user.rol}}</li>
    </ul>
</div>
<div>
<form method="get" action="/api/sessions/users/logout">
    <button type="submit">Cerrar Sesion</button>
</form>
    <h1>Productos:</h1>

    <ul>
        {{#each products.docs}}
        <li>
            <p><b>{{this.title}}</b></p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <button><a href="/product/{{this._id}}">Add to Cart</a></button>
        </li>
        {{/each}}
    </ul>

    <div>
        {{#if products.hasPrevPage}}
        <a href="/?page={{products.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
        <a href="/?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>

</div>